.Burger {
    width: 250px;
    margin: auto;
    height: 250px;

    /* Adds those weird gray borders. */
    overflow: scroll; 
    
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 
These are created for OTHER VIEW PORTS (phones, tablets, etc.)
Pretty cool.
*/

/* For phones! */
@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}

/* Landscape */
@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

/* Portrait */
@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}